$top: $sub;

.intro {
  height: 90%;
  background-image: image-url("intro.svg");
  background-repeat: no-repeat;
  background-size: auto 95%;
  transition: 1.2s all;

  background-position: -1% $top;

  &.is-monkee { background-position: -1% $top; }
  &.is-jakov  { background-position: 48% $top; }
  &.is-matija { background-position: 75% $top; }
  &.is-ante   { background-position: 103% $top; }

  @media (min-width: $screen-xs-min) {
    background-position: -5% $top;

    &.is-monkee { background-position: -5% $top; }
    &.is-jakov  { background-position: 40% $top; }
    &.is-matija { background-position: 88% $top; }
    &.is-ante   { background-position: 120% $top; }
  }

  @media (min-width: $screen-sm-min) {
    background-position: -2% $top;

    &.is-monkee { background-position: -2% $top; }
    &.is-jakov  { background-position: 50% $top; }
    &.is-matija { background-position: 77% $top; }
    &.is-ante   { background-position: 103% $top; }
  }

  @media (min-width: $screen-md-min) {
    background-position: -4% $top;

    &.is-monkee { background-position: -4% $top; }
    &.is-jakov  { background-position: 48% $top; }
    &.is-matija { background-position: 80% $top; }
    &.is-ante   { background-position: 105% $top; }
  }

  @media (min-width: $screen-lg-min) {
    background-position: -5% $top;

    &.is-monkee { background-position: -5% $top; }
    &.is-jakov  { background-position: 52% $top; }
    &.is-matija { background-position: 92% $top; }
    &.is-ante   { background-position: 120% $top; }
  }

  .no-svg & {
    background-image: image-url('intro.png');
  }

  &-nav {
    position: absolute;
    bottom: $sub;
    left: $sub;
    right: $sub;
    z-index: 30;
    line-height: 0;
    text-align: center;

    @media (min-width: $screen-xs-min) {
      text-align: left;
    }

    &-item {
      display: inline-block;

      a {
        display: inline-block;
        padding: 4px;
        background-color: rgba(#fff, .75);
        border: 3px solid transparent;
        border-radius: 50%;
        transition: .2s all;

        &:hover,
        &:focus {
          border-color: rgba($color-primary, .25);
        }
      }

      &.is-active {
        a {
          border-color: $color-primary;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}
