.navigation {
  @include font-size(18px);
  font-weight: 700;

  li {
    @media (min-width: $screen-xs-min) {
      float: left;
    }

    a {
      display: inline-block;
      padding: $suh;
    }
  }
}
