extends layout

block title
  title About · Unity

block content
  .page-about.text-center
    .container
      .row
        section.ui.col-3
          .inner
            .img-container
            h2 UI
            p Searching real-time has become the standard for the daily Internet user, but we're still trapped in the same predicament of having.

        section.ux.col-3
          .inner
            .img-container
            h2 UX
            p Searching real-time has become the standard for the daily Internet user, but we're still trapped in the same predicament of having.

        section.dev.col-3
          .inner
            .img-container
            h2 DEV
            p Searching real-time has become the standard for the daily Internet user, but we're still trapped in the same predicament of having.
