extends layout

block title
  title Unity

block content
  .intro
    img.intro-item(src='images/intro/typography@2x.png' width='3630' height='800')
    img.intro-item(src='images/intro/characters@2x.png' width='3630' height='800')
