extends layout

block title
  title Unity

block content
  .intro
    ul.intro-nav.list-unstyled.fl.is-monkee
      li.intro-nav-item.is-active
        a(href='#' title='Monkee' data-character='monkee')
          img(src='images/avatars/monkee.png')
      li.intro-nav-item
        a(href='#' title='Jakov Šuran' data-character='jakov')
          img(src='images/avatars/jakov.png')
      li.intro-nav-item
        a(href='#' title='Matija Marohnić' data-character='matija')
          img(src='images/avatars/matija.png')
      li.intro-nav-item
        a(href='#' title='Ante Matijaca' data-character='ante')
          img(src='images/avatars/ante.png')
