extends layout

block title
  title Unity

block content
  .page-home
    .intro.is-monkee
      ul.intro-nav.list-unstyled
        li.intro-nav-item.is-active
          a(href='#' title='Monkee' data-character='monkee')
            img(src='images/avatars/monkee.png' alt='Monkee')
        li.intro-nav-item
          a(href='#' title='Jakov Šuran' data-character='jakov')
            img(src='images/avatars/jakov.png' alt='Jakov Šuran')
        li.intro-nav-item
          a(href='#' title='Matija Marohnić' data-character='matija')
            img(src='images/avatars/matija.png' alt='Matija Marohnić')
        li.intro-nav-item
          a(href='#' title='Ante Matijaca' data-character='ante')
            img(src='images/avatars/ante.png' alt='Ante Matijaca')
